.poster {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  &__title {
    margin-bottom: 30px;
  }
}

.poster-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  &__toolbar {
    display: flex;
    gap: 20px;
    & > *:nth-child(1) {
      flex: 1;
    }
    & > *:nth-child(2) {
      flex: 1;
    }
    & > *:nth-child(3) {
      width: 170px;
    }
  }
  &__upload {
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    gap: 20px;
    & > *:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 200px;
    }
    & > *:nth-child(3) {
      flex: 1;
      height: 100%;
      * {
        height: 100%;
      }
      @media (max-width: 768px) {
        flex: 1;
        height: auto;
      }
    }
  }
  &__photo {
    border-radius: 7px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-inner {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      border-radius: 7px;
      border: 1px dashed silver;
    }
    &-icon {
      width: 80px;
      height: 80px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__btns {
    display: flex;
    gap: 20px;
    margin: 30px 0;
    & > *:nth-child(1) {
      flex: 1;
    }
    & > *:nth-child(2) {
      flex: 1;
    }
    & > *:nth-child(3) {
      width: 170px;
    }
  }
  & > *:last-child {
    flex: 1;
    & > * {
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  .poster {
    &__title {
      margin-bottom: 10px;
    }
  }
  .poster-form {
    &__toolbar {
      gap: 10px;
      flex-wrap: wrap;
      & > *:nth-child(3) {
        width: 100%;
      }
    }
    &__btns {
      margin: 10px 0;
      gap: 10px;
      flex-direction: column;
      & > *:nth-child(3) {
        width: 100%;
      }
    }
    &__photo {
      width: 150px;
      height: 150px;
    }
    &__upload {
      align-items: stretch;
      flex-wrap: wrap;
      margin-bottom: 20px;
      & > *:nth-child(2) {
        width: 100%;
        order: -1;
      }
    }
  }
}