@font-face {
  font-family: 'Lato';
  src: url('../../assets/fonts/Lato-Regular.eot');
  src: url('../../assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Lato-Regular.woff') format('woff'),
  url('../../assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../../assets/fonts/Lato-Bold.eot');
  src: url('../../assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Lato-Bold.woff') format('woff'),
  url('../../assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}